.header {
  width: 100dvw;
  height: 8dvh;
  background-color: rgb(87, 94, 225);
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
}
.header--left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo--link {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: white;
  text-decoration: none;
}
.header--right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  font-size: 20px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
    transition: .1s ease-in-out;
  color: rgb(109, 123, 242);
}
