.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prof-window {
  width: 800px;
  height: 400px;
  border-radius: 10px;
  background-color: rgb(87, 94, 225);
}
.SignOut {
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: red;
  color: white;
  transition: ease-in-out 0.2s;
  border: 1px solid white;
}

.SignOut:hover{
    transform: translateY(-5px);
}

.confirmed--changes--window{
padding:10px 20px;
border-radius: 40px;
  position: absolute;
  background-color: green;
  z-index: 2;
  right: 0;
  bottom: 10px;
  /* opacity: 0; */
  /* display: none; */
}