
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* files */
@import url("./templates.css");
@import url("./header.css");
@import url("./cart.css");

@import url("./profile.css");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(143, 147, 230);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  color: white;
}
body::-webkit-scrollbar{
  display: none;
}

.container{
  width: 80dvw;
}
.catalog{
  margin-top: 10px;
  background-color:rgb(87, 94, 225);
  padding:20px 20px;
  border-radius: 20px;
}
.catalog .container{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.catalog--info{
  display: flex;
  justify-content: space-between;
  padding:0 10px 10px;
  /* border-bottom: 2px solid rgb(143, 147, 230); */

}
.title {
  font-size: 30px;
}
.catalog-business {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  padding:0 30px;
  
}
.catalog-search {
  width: 10dvw;
  padding:10px 5px;
  color:white;
  outline: none;
  border:none;
  background-color:transparent;
  border-radius: 10px;
  border:1px solid white;
}
.catalog-search::placeholder{
  color:white;
}
.sort {
  border:1px solid white !important;
  padding:10px;
  border-radius: 10px;
  background-color: rgb(87, 94, 225);
  color:white;
  outline: none;
  border:none;
}
select>option{
  border-radius: 10px;
  background-color: rgb(87, 94, 225);
}
@media (max-width<768px) {
  .sort{
    display: none;
  }
    .catalog-search::placeholder{
        content:'';
    }
}



.products {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-template-rows: repeat(auto,400px);
  justify-content: center;
  gap: 20px;
  /* border-top: 2px solid rgb(143, 147, 230);
  border-bottom: 2px solid rgb(143, 147, 230); */
  padding: 20px;
}

.product {
  border:1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  color: white;
  border-radius: 20px;
  padding:15px 10px;
  max-width: 1fr;
}
.search--akparat{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  justify-content: space-between;
}
.product--image {
  width: 250px;
  border-radius: 10px;
  border:1px solid rgba(255, 255, 255, .4)
}
.product-name{
  font-size: medium;
  text-align: center;
}
.line {
  display: flex;
  font-size: small;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.changeQ{
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: rgb(87, 147, 87);
    font-size: 20px;
    color:white;
    transition: ease-in-out .1s;
}
.changeQ:hover{
  transform: scale(1.1);
  background-color: rgb(110, 172, 110);

}

button.product--cart {
  color: white;
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(87, 147, 87);
  transition: ease-in-out .2s;
}
button.product--cart:hover {
  transform: scale(1.2);
  background-color: rgb(124, 193, 124);
}

.delete-window {
  width: 100dvw;
  height: 100dvh;
  position:sticky;
  top:0;
  bottom: 0;
  z-index: 2;

  background-color: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dw-content {
  z-index: 2;
  padding:40px 20px;
  border-radius: 20px;
  background-color: rgb(87, 94, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
.buttons {
  display: flex;
  gap:10px;
}
.commitBtn {
  padding:8px 15px;
  border-radius:4px;
  border: none;
  outline: none;
  background-color:rgb(143, 147, 230);
  color:white;
  transition: ease-in-out .1s;
}
.commitBtn:hover{
  transform: scale(1.1);
}
.yes{
  background-color: rgb(86, 183, 86);
}
.no{
  background-color: rgb(186, 64, 64);
}
/* "backpack", "rare", "uncommon", "epic", "legendary" */


.none {
  display: none;
}


.sign-window {
  width: 600px;
  height: 500px;
  border-radius: 20px;
  background-color: rgb(87, 94, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}
.inputs-section {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.input-line {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 3px;
}
.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-name {
  font-size: small;
  pointer-events: none;
  transition: 0.2s ease-in-out;

}
.normal--position {
  opacity: 0.3;
  transform: translateY(30px);
}
.moved--position {
  opacity: 1;
  transform: translateY(0px);
}
.input {
  border-radius: 40px;
  background-color: rgb(67, 73, 172);
  padding: 10px 20px;
  width: 200px;
  height: 40px;
  color: white;
  outline: transparent;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.125em;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.539); */
}
input:focus,
input:active {
  outline: none;
}

.signBtn {
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  transition: ease-in-out 0.2s;
  border: 1px solid white;
}
.signBtn:hover {
  transform: translateY(-5px);
  background-color: rgb(78, 84, 207);
}
.link-page {
  opacity: 0.5;
  font-style: normal;
  text-decoration: underline;
}
p,
.link-page {
  color: rgba(255, 255, 255, 0.5);
}
.error {
  opacity: 1;
  transition:  all 0s;
  color: rgb(213, 79, 79);
  text-align: center;
  font-size: small;
  animation: errorAnimation forwards .4s ;
}

.show-btn {
  background: rgb(87, 94, 225);
  border: none;
  padding: 5px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  transition: ease-in-out 0.1s;
}
.show-btn:hover {
  transform: scale(1.1);
  background-color: rgb(78, 84, 207);
}
.show-btn img {
  pointer-events: none;
}


@keyframes errorAnimation{
  0%,100%{
    transform: translateX(0px);
  }
  20%,50%,80%{
    transform: translateX(10px);
  }
  30%,60%,90%{
    transform: translateX(-10px);
  }
}


.page--buttons{
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  gap:10px;
}

.borderka{
  border-top: 2px solid rgb(143, 147, 230);
  border-bottom: 2px solid rgb(143, 147, 230);
}
.nums{
  padding:10px;
  border:none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(141, 161, 222);
  color:white; 
  transition: ease-in-out .1s;
}
.activePage{
  background-color: white;
  color:black;
}
.nums:hover{
  transform: scale(1.2);
}
